<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFirstProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/UsersStyle.css" />
</head>
<body>
    <header class="Header">
        <div class="tab-brand">
            <a asp-action="Index" asp-controller="Home">TODOList</a>
        </div>
        <div class="tab-items">
            <ul>
                <li>
                    <a class="tab-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a class="tab-link" asp-action="Index" asp-controller="Home">Privacy</a>
                </li>
                <li>
                    <a class="tab-link" asp-action="Index" asp-controller="Home">Information</a>
                </li>
            </ul>
        </div>
    </header>

    <main class="Main" role="main">
        @RenderBody()
    </main>

    <footer class="Footer">
        <div class="footer-text">
            &copy; 2021 - MyFirstProject - <a asp-controller="#" asp-action="#">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
