@model CreateViewModel
@{
    ViewData["Title"] = "Добавить пользователя";
}
<div class="Container">

    <div class="TitleInput">
        <p>Data input</p>
    </div>

    <form asp-antiforgery="true" asp-action="Create" asp-controller="Home">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input class="form-control InputText " type="text" placeholder="Name " asp-for=@Model.User.Name />
            <span class="Errors" asp-validation-for=@Model.User.Name></span>
        </div>
        <div class="form-group">
            <input class="form-control InputText " type="number" placeholder="Age " asp-for=@Model.User.Age />
            <span class="Errors" asp-validation-for=@Model.User.Age></span>
        </div>
        <div class="form-group">
            <input class="Send btn btn-default" type="submit" value="Send" />
        </div>
    </form>

    @section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
</div>