@model IndexViewModel
@{
    ViewData["Title"] = "Все пользователи";
}

<div>
    <a asp-action="Create">Добавить пользователя</a>
    <table class="table">
        <tr><td>Имя</td><td>Возраст</td></tr>
        @foreach (var item in Model.Users)
        {
            <tr><td>@item.Name</td><td>@item.Age</td></tr>
        }
    </table>
</div>
